@model OkLens.Models.Employee

@{
    ViewData["Title"] = "Удалить сотрудника";
}

<h1  class="text-info">Вы уверены что хотите удалить данного сотрудника?</h1>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role.RoleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role.RoleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateBirthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateBirthdayStr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Login)
        </dd>
    </dl>
</div>
<br/>
<div class="col-12">
    <div class="container">
        <div class="row">
            <div class="col-1">
                <div class="form-group">
@*                   <form asp-action="DeleteEmp">        
                        <input type="hidden" asp-for="@Model.EmployeeId" />
                        <input asp-route-id="@Model.EmployeeId" type="submit" value="Удалить" class="btn btn-outline-primary" formmethod="post"/>    
                    </form>
*@                  <a asp-action="DeleteEmp" asp-route-id="@Model.EmployeeId" class="btn btn-outline-primary">Удалить</a>
                </div>
            </div>
            <div class="col-1">
                <div class="form-group">   
                    <a asp-action="Employee" class="btn btn-outline-primary">Назад</a>
                </div>
            </div>
        </div>
    </div>
</div>