@model List<ListEmployeeForView>
@{
  ViewData["Title"] = "Сотрудники";
  ViewData["Role"] = "Admin";
  ViewData["IsRegister"] = "1";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <h2 class="text-info">@ViewData["Title"]</h2>
</p>

<table class="table"> 
    <tr>
        <th>ФИО</th>
        <th>Роль</th> 
        <th>Дата рождения</th> 
        <th>Категория</th> 
        <th>Логин</th> 
    </tr>
    @foreach (var item in Model)
    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateBirthdayStr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                <a asp-action="DetailsEmployee" asp-route-id="@item.EmployeeId">Просмотр</a> |
                <a asp-action="EditEmployee" asp-route-id="@item.EmployeeId">Изменить</a> |
                <a asp-action="DeleteEmployee" asp-route-id="@item.EmployeeId">Удалить</a>
                </td>
            </tr>
    } 
</table>
<br/>
@if (ViewBag.Error != null)
{
<div class="row">
    <div class="col-12">
        <div class="alert alert-warning" role="alert">
            @ViewBag.Error
        </div>
    </div>
</div>
}
<br />
<p>
    <form asp-controller="Admin" asp-action="AddEmployee" method="get">
        <button type="submit" class="btn btn-outline-primary" formmethod="get">Добавить сотрудника</button>
    </form>
</p>
<br />   