@model OkLens.Models.PatientForView
<h1  class="text-info">Вы уверены что хотите удалить данную запись?</h1>
<div>
    <hr />
    <div class="col-12">
        <div class="container">
            <dl class="row">
                <div class="col-4">
                    <h2  class="text-info">Пациент</h2>
                    <br />
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Lname)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Lname)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Fname)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Fname)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Sname)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Sname)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.DateBirthday)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.DateBirthdayStr)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.RegAdress)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.RegAdress)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.TypeDocument)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.TypeDocument)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.NumberDocument)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.NumberDocument)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Gender)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.WorkPlace)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.WorkPlace)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.HowKnowDescr)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.HowKnowDescr)
                    </dd>
                </div>
                @if (Model.GuarnatirPatientId != null)
                {
                    <div class="col-4">
                        <h2  class="text-info">Поручитель</h2>
                        <br />
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.LnameGuar)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.LnameGuar)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.FnameGuar)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.FnameGuar)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.SnameGuar)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.SnameGuar)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.DateBirthdayGuar)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.DateBirthdayGuarStr)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.RegAdressGuar)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.RegAdressGuar)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.TypeDocumentGuar)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.TypeDocumentGuar)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.NumberDocumentGuar)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.NumberDocumentGuar)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.GenderGuar)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.GenderGuar)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.WorkPlaceGuar)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.WorkPlaceGuar)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.PhoneNumberGuar)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.PhoneNumberGuar)
                        </dd>
                    </div>          
                }
            </dl>
        </div>    
    </div>
</div>
<br/>
<div class="col-12">
    <div class="container">
        <div class="row">
            <div class="col-1">
                <div class="form-group">
                    <a asp-action="DeletePatientAction" asp-route-id="@Model.PatientId" class="btn btn-outline-primary">Удалить</a>
                </div>
            </div>
            <div class="col-1">
                <div class="form-group">   
                    <a asp-action="PatientList" class="btn btn-outline-primary">Назад</a>
                </div>
            </div>
        </div>
    </div>
