@model List<HowKnow>
@{
  ViewData["Title"] = "Как о нас узнали?"; 
  ViewData["Role"] = "Manager";
  ViewData["IsRegister"] = "1";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <h2 class="text-info">@ViewData["Title"]</h2>
</p>

<table class="table"> 
    <tr>
        <th>Описание</th>
    </tr>
    @foreach (var item in Model)
    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descr)
                </td>
                <td>
                <a asp-action="EditHowKnow" asp-route-id="@item.HowKnowId">Изменить</a> |
                <a asp-action="DeleteHowKNow" asp-route-id="@item.HowKnowId">Удалить</a>
                </td>
            </tr>
    } 
</table>
<br/>
@if (ViewBag.Error != null)
{
<div class="row">
    <div class="col-12">
        <div class="alert alert-warning" role="alert">
            @ViewBag.Error
        </div>
    </div>
</div>
}
<br />
<p>
    <form asp-controller="Manager" asp-action="AddHowKnow" method="get">
        <button type="submit" class="btn btn-outline-primary" formmethod="get">Добавить</button>
    </form>
</p>
<br />