@model List<ReceptionView>
@{
  ViewData["Title"] = "Запись на приём"; 
  ViewData["Role"] = "Manager";
  ViewData["IsRegister"] = "1";
  Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    <h2 class="text-info">@ViewData["Title"]</h2>
</p>

<table class="table"> 
    <tr>
        <th>ФИО пациента</th>
        <th>ФИО доктора</th>
        <th>Номер Комнаты</th>
        <th>Услуга</th>
        <th>Дата начала</th>
        <th>Дата окончания</th>
        <th>Примечание</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fiopatient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fioemployee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descr)
            </td>
            <td>
@*                        <a asp-action="DeleteReception" asp-route-id="@item.ReceptionId">Отменить прием</a> |
            <a asp-action="EditPatient" asp-route-id="@item.ReceptionId">Изменить</a> |
            <a asp-action="DeletePatient" asp-route-id="@item.ReceptionId">Удалить</a>
*@                      </td>
        </tr>
    } 
</table>
<br/>
@if (ViewBag.Error != null)
{
<div class="row">
    <div class="col-12">
        <div class="alert alert-warning" role="alert">
            @ViewBag.Error
        </div>
    </div>
</div>
}
<br />
    <div class="col-2">
        <form asp-controller="Manager" asp-action="AddReception" method="get">
            <button type="submit" class="btn btn-outline-primary" formmethod="get">Записаться</button>
        </form>
    </div>
<br />