@model List<Service>
@{
  ViewData["Title"] = "Услуги"; 
  ViewData["Role"] = "Manager";
  ViewData["IsRegister"] = "1";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <h2 class="text-info">@ViewData["Title"]</h2>
</p>

<table class="table"> 
    <tr>
        <th>Наименование</th>
        <th>Стоимость</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
            <a asp-action="EditService" asp-route-id="@item.ServicesId">Изменить</a> |
            <a asp-action="DeleteService" asp-route-id="@item.ServicesId">Удалить</a>
            </td>
        </tr>
    } 
</table>
<br/>
@if (ViewBag.Error != null)
{
<div class="row">
    <div class="col-12">
        <div class="alert alert-warning" role="alert">
            @ViewBag.Error
        </div>
    </div>
</div>
}
<br />
<p>
    <form asp-controller="Manager" asp-action="AddService" method="get">
        <button type="submit" class="btn btn-outline-primary" formmethod="get">Добавить</button>
    </form>
</p>
<br />